@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.roundCorners {
    border-radius: 30px;
}

.roundCornersTop {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.circle_corners {
    border-radius: 360px !important;
}
.centerBase {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.centerObject {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centerObjectHori {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}
.footer {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
}
.superFont{
    font-size: 70px;
}
.smallFont{
    font-size: 12px;
}
.my_container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto
}
.TestBase {
    position: relative;
}
.TestChild {
    top: 50%;
    transform: translateY(50%);
}
.Test {
    height: 50%;
}

.hoverSelect {
    background-color: white;
}
.hoverSelect:hover{
    background-color: lightgray;
}

.img_img{
    margin: 0;
    padding: 0;
    border: 0;
}
.img_wrap {
    position: relative;
    height: auto;
    width: auto;
}

.img_description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: lightgray;
    color: black;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity 0.8s, visibility 0.8s;
}

.img_wrap:hover .img_description {
    visibility: visible;
    opacity: 0.9;
}

.vertical_div_cent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}