@inherits LayoutComponentBase

@inject BlazorStrap.IBootstrapCss BootsstrapCss
@inject NavigationManager navMan

<div class="main">
    <nav class="navbar navbar-expand-sm navbar-light bg-grayNoHov fixed-top">
        <a class="navbar-brand oi oi-home button-gray rounded mb-3 m-1 p-1" href="/"></a>

        <button @onclick="toggleNavBar" class="navbar-toggler" type="button" aria-expanded="@expandedState" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse @cssShowMenu">
            <div id="navbar-items" class="navbar-nav text-center">
                <a @onclick="collapsedNavBar" class="nav-item nav-link bg-gray rounded p-1 ml-1" href="/">Lager lista<span class="sr-only">(current)</span></a>
                <a @onclick="collapsedNavBar" class="nav-item nav-link bg-gray rounded p-1 ml-1" href="/productTypePage">Product Type</a>
                <a @onclick="collapsedNavBar" class="nav-item nav-link bg-gray rounded p-1 ml-1" href="/piechart">Piechart</a>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <div class="my_container min-vh-100" style="height:auto">
        @Body
    </div>

    <div class="container bg-gray roundCornersTop footer">
            
    </div>
</div>


@code{
    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootsstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {

            isServerSide = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstrun)
    {
        if (isServerSide && firstrun)
        {
            await BootsstrapCss.SetBootstrapCss("4.3.1");
        }
    }

    private bool expandedState = false;
    private string cssShowMenu = null;

    private void toggleNavBar()
    {
        expandedState = !expandedState;
        cssShowMenu = expandedState ? "show" : null;
    }

    private void collapsedNavBar()
    {
        expandedState = false;
        cssShowMenu = expandedState ? "show" : null;
    }
}