@page "/aboutme"

<br />
<br />
<div class="container overflow-hidden">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-5 col-sm-12 col-12 p-0 m-0 float-lg-left float-md-left text-center text-lg-left text-md-center">
            <div>
                <img src="/images/frontPics/RoundProfilePicture.JPG" class="circle_corners" style="width:450px; height:450px" />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container overflow-hidden">
    <div class="col-12 row justify-content-center m-0">
        <div class="col-md-12 col-lg-8 col-12 p-0">
            <div class="m-1 p-0 float-right float-lg-right">
                <h1>Filip Lindgren</h1>
                <p>My name is Filip Lindgren, and to me the best feeling in the world is to see other people play the games I’ve created. I aim to design games that everyone can play, but at the same time gives players a challenge.</p>
                <p>
                    I just finished my education in Game Design & Scripting at Södertörn University.
                    My favourite parts of game development is the beginning of a project where ideas are made into mechanics, and the end of the project when I see people play the game I’ve created.
                </p>
                <p>
                    I have trained karate for 10 years and I was also an instructor for two years, training the kids and teens at my club.
                    However, now I mainly go to the gym due to the lack of time. For me exercise is important, it has always been a part of my life.
                    Exercising helps me keep better focus during school while also helping me calming down when I have a lot of stress.
                </p>
                <p>
                    When I’m not exercising or making games I like to play co-op games with friends or crush them in Mario Kart.
                    For me co-op party games are the best kind of games to play with friends due to the easy learning curve and the laughs you share as a group.
                    My favourite co-op game right now is Lovers In a Dangerous Space Time.
                </p>
                <p>E-mail: filip.k.lindgren@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container overflow-hidden">
    <div class="row justify-content-center">
        <div>
            <a href="/Filip Lindgren CV 2020-09-08_ENG.pdf" target="_blank"><img src="/images/icons/CV.png" style="width:100px; height:100px" /></a>
        </div>
    </div>
</div>
@code {

}
