@page "/mrhedgehog"

<div class="my_container">
    <br />
    <img class="col-lg-8 col-md-9 col-sm-12 col-12 centerObjectHori roundCorners" src="/images/hedgehog/HedgehogTitle.png" />
</div>
<br />
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="float-lg-left text-center text-md-center text-lg-left">
                <h3>The Adventures of Mr Hedgehog</h3>
                <p>Role - Scripter, Game Designer, Level Designer, Project Leader</p>
                <p>Genre - Adventure, Puzzle, Kids</p>
                <p>Development time - 3 months</p>
                <p>Programs - Unity, C#, Jira</p>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/YTwy03p56-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-10 col-11">
            <a class="justify-content-center" href="https://hedgehog-studios.itch.io/hedgehog" target="_blank">
                <img src="/images/icons/ItchIOLogo.png" class="col-12" />
            </a>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="text-center">
        <h2 class="font-weight-bold">Description</h2>
        <p>
            This was a school group project where we were a team of 7 people.
            The idea was to create a game for children. The Adventures Of Mr Hedgehog lets the player play as Mr Hedgehog who is trying to help his friends with various tasks after a storm.
            The tasks vary throughout the game and can be anything from finding a hat to going down a river collecting things.
        </p>
        <p>The game is also available in both swedish and english.</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <img class="col-10 col-sm-10 col-lg-8 p-0" src="/images/hedgehog/SunImage.png" />
    </div>
</div>
<br />
<div class="container overflow-hidden">
    <div class="col-12 text-center">
        <h2 class="font-weight-bold">Game Design</h2>
        <div class="col-12 p-1">
            <p>
                During this project I created two of the levels for the game and helped out with some of the other ones.
                When I made the two levels I tried to make them different with the goal to stand out gameplay wise from the other levels.
                The theme was the same but I tried to make them different from the fetch item quests in the other levels.
                This was so the entire game wouldn’t just be the same quest with different executions throughout the whole game.
            </p>
            <p>
                We also made it so the game can easily be translated by reading in xml files to change the dialogue.
                We have a structure that the xml files need to follow and if they do and are added to the game files they are easy to implement into the game.
                First we did not think of making the game in swedish.
                But we realised this game was going to be for kids and the teacher thought it would be a good challenge for us to do, so we decided to implement swedish into the game aswell.
                Me and the other programmer made it work and made it so it would be easy to translate the game to other languages if needed.
            </p>
        </div>
    </div>
</div>
<div class="container overflow-hidden">
    <div class="col-12">
        <h4 class="text-center text-lg-left text-md-center">Go with the flow - River level</h4>
    </div>
    <div class="col-12 row m-0">
        <div class="col-md-12 col-lg-6 col-sm-12 col-12 p-0 m-0 float-lg-left float-md-left text-center text-lg-left text-md-center">
            <p>
                When creating this level I tried to make it forgiving since it is for children.
                The reason for this was that I didn’t want the kids to get frustrated or lose interest in the level because it was too hard.
                I focused more on making the level fun instead of hard. To do this I made it so that they couldn’t get stuck and so that they could get to the finish line without moving.
                This meant that the kids wouldn’t feel like they failed the level completely. I also made the amount of sticks the player could collect in the level many more than what was needed to complete the level.
                For an adult this level is probably easy but since our target audience is children, I tried to lower the difficulty a little bit but still keeping it challenging for them.
                I also implemented jumps and spins in the air to make the level a little more interesting rather than just going down a river and collecting sticks. I think the level does a good job at giving the player a little variation.
            </p>
        </div>
        <div class="col-md-12 col-lg-6 col-12 p-0">
            <div class="">
                <div class="m-1 p-0 float-right float-lg-right">
                    <img class="col-12 p-0" style="width:auto" src="/images/hedgehog/RiverRace.png" />
                    <p class="font-weight-bold smallFont">Figure 1. River race</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container overflow-hidden">
    <div class="col-12">
        <h4 class="text-center text-lg-left text-md-center">Getting your bearings - Final boss</h4>
    </div>
    <div class="col-12 row m-0">
        <div class="col-md-12 col-lg-6 col-sm-12 col-12 p-0 m-0 float-lg-left float-md-left text-center text-lg-left text-md-center">
            <p>
                This was the final level of the game where Mr Hedgehog meets the final boss of the game.
                Because this was supposed to be the final boss I tried to make this level more difficult.
                I thought this would be a good idea since the kids at this point have completed all the other levels in the game, therefore they probably know the controls quite well.
                So the level has one part where the player dodges rolling stones. The stones roll in a pattern so that there is always enough space for Mr Hedgehog to get through with quite a big margin.
                The other part is hiding behind stones when approaching the boss. The boss is a bear that roars and if you are not behind a rock when he screams you fall of the mountain and have to restart at a checkpoint.
                The screams timing allow the player to easily get behind cover between the screams and there is also a small build-up before the scream so that the player easier can see when the boss is about to scream.
            </p>
        </div>
        <div class="col-md-12 col-lg-6 col-12 p-0">
            <div class="">
                <div class="m-1 p-0 float-right float-lg-right">
                    <img class="col-12 p-0" style="width:auto" src="/images/hedgehog/ScaryBear.png" />
                    <p class="font-weight-bold smallFont">Figure 2. Final boss</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container overflow-hidden">
    <div class="col-12 text-md-center text-lg-left">
        <h2 class="font-weight-bold">Things I learned</h2>
        <div class="col-12 col-lg-6 p-1 float-lg-left">
            <h4>Being project leader</h4>
            <p>
                I have been the project leader a few times before this course and I have always learned a lot from those experiences.
                This time there was only me and one other team member that knew how to program, which meant that I needed to do a lot with the programming and designing of levels in Unity aswell.
                This made it hard for me to both help everyone else with questions and do the levels I needed to do.
                In the end it worked out fine but if I would have done the same roles again I think I would have tried to do less programming and more game design and
                project leading so that I instead could be able to help the other people in the team more thoroughly.
            </p>
        </div>
        <div class="col-12 col-lg-5 p-1 float-lg-right">
            <h4>Keeping it fresh</h4>
            <p>
                To keep the game fresh and not make players feel bored with the game I think it is important to make some levels that stand out from the other levels a little bit.
                I think this game is very good and I am happy with the project. However, I think that a few changes in the way some levels are played, really can make the game better.
            </p>
        </div>
    </div>
</div>
<br />
<div class="container overflow-hidden">
    <div class="col-12">
        <h2 class="font-weight-bold">Conclusion</h2>
        <p>This was the last big game we made as a group during the education and I am very happy with the outcome. I think we made the final game as close to our vision as we possibly could during the time we had.</p>

        <p>
            The only big problem we had during development was that we used a beta version of Unitys HDR pipeline which gave us some problems with weird light glitches and textures being somewhat darker than they were meant to be.
            So I learned that if I want to use tools that are still in beta I need to plan for problems and people not being used to the tools.
        </p>
    </div>
</div>



@code {
    //col-lg-8 col-md-9 col-sm-11 col-12
    /**/
}
