@page "/"


<div class="my_container">
    <br />
    <h1 class="superFont text-center">Filip Lindgren</h1>
    <h1 class="superFont text-center">Gameplay Programmer</h1>
    <br />
    <div class="row justify-content-center">
        <div class="roundCorners img_wrap m-2">
            <img src="/images/frontPics/GrodaMedBakgrund.png" style="width:450px; height:450px" />
            <a href="/swingking">
                <div class="img_description">
                    <h1 class="centerObject superFont text-center p-2">Swing King</h1>
                </div>
            </a>
        </div>
        <div class="roundCorners img_wrap m-2">
            <img src="/images/frontPics/BlockPlockIconMargin.png" style="width:450px; height:450px" />
            <a href="/blockplock">
                <div class="img_description ">
                    <h1 class="centerObject superFont text-center p-2">BlockPlock</h1>
                </div>
            </a>
        </div>
        <div class="roundCorners img_wrap m-2">
            <img src="/images/frontPics/H_icon_1024px.png" style="width:450px; height:450px" />
            <a href="/mrhedgehog">
                <div class="img_description">
                    <h1 class="centerObject superFont text-center p-2">The Adventures of Mr Hedgehog</h1>
                </div>
            </a>
        </div>
        <div class="roundCorners img_wrap m-2">
            <img src="/images/frontPics/WorkInProgress2.png" style="width:450px; height:450px" />
            <a href="/parkourgame">
                <div class="img_description">
                    <h1 class="centerObject superFont text-center p-2">Parkour Game Work In Progress</h1>
                </div>
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="row justify-content-center">
        <div class="roundCorners img_wrap m-2">
            <img src="/images/frontPics/RoundProfilePicture.JPG" class="circle_corners" style="width:450px; height:450px" />
            <a href="/aboutme">
                <div class="img_description circle_corners">
                    <h1 class="centerObject superFont text-center p-2">About me</h1>
                </div>
            </a>
        </div>
    </div>
</div>