@page "/i"


<div class="container">
    <br />
    <h1 class="text-center">Filip Lindgren</h1>
    <h1 class="text-center">Gameplay Programmer</h1>
    <br />
    <div class="row justify-content-center">
        <div class="img_wrap m-2 col-10 col-md-5 col-lg-4 col-xl-4 p-0">
            <a href="/i">
                <img src="/images/frontPics/GrodaMedBakgrund.png" class="col-12 p-0" />
                <div class="img_description">
                    <h1 class="centerObject large_font text-center p-2">Swing King</h1>
                </div>
            </a>
        </div>
        <div class="img_wrap m-2 col-10 col-md-5 col-lg-4 col-xl-4 p-0">
            <a href="/blockplock">
                <img src="/images/frontPics/BlockPlockIconMargin.png" class="col-12 p-0" />
                <div class="img_description">
                    <h1 class="centerObject large_font text-center p-2">BlockPlock</h1>
                </div>
            </a>
        </div>
        <div class="img_wrap m-2 col-10 col-md-5 col-lg-4 col-xl-4 p-0">
            <a href="/mrhedgehog">
                <img src="/images/frontPics/H_icon_1024px.png" class="col-12 p-0" />
                <div class="img_description">
                    <h1 class="centerObject large_font text-center p-2">The Adventures of Mr Hedgehog</h1>
                </div>
            </a>
        </div>
        <div class="img_wrap m-2 col-10 col-md-5 col-lg-4 col-xl-4 p-0">
            <a href="/parkourgame">
                <img src="/images/frontPics/WorkInProgress2.png" class="col-12 p-0" />
                <div class="img_description">
                    <h1 class="centerObject large_font text-center p-4">Parkour Game Work In Progress</h1>
                </div>
            </a>
        </div>
    </div>
    <br />
    <br />
    <div class="row justify-content-center">
        <div class="img_wrap m-2 col-10 col-md-5 col-lg-4 col-xl-4 p-0">
            <a href="/aboutme">
                <img src="/images/frontPics/RoundProfilePicture.JPG" class="circle_corners col-12 p-0" />
                <div class="img_description circle_corners">
                    <h1 class="centerObject large_font text-center p-2">About me</h1>
                </div>
            </a>
        </div>
    </div>
</div>
<br />
<br />